.env
__pycache__/
*.pyc
.streamlit/secrets.toml
venv/
model_cache/
.venv/

*.safetensors
*.pt
*.bin

draft.py
sample.py
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
sample.py